@import "../utils/utils.scss";

.arrows {
  @include sizes(120px, 100%);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  button {
    border: none;
    background: none;
  }
  .arrow {
    @include sizes(30px, 30px);
    display: block;
    border-radius: 100%;
    cursor: pointer;
  }
  .arrow:hover {
    transform: scale(1.2, 1.2);
  }
}
