@import "../utils/utils.scss";

.calendarSection {
  @include sizes(600px, auto);
  min-width: 600px;
  padding: 70px;
  background-color: $light-grey;
  border-radius: 24px;
  box-shadow: 6px 6px 15px 0px rgb(211, 211, 211);
  .header {
    display: flex;
    position: relative;
    h1 {
      width: 100%;
    }
  }
  .week {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    span {
      @include sizes(40px, 40px);
      text-align: center;
      line-height: 40px;
    }
  }
  .days {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 940px) {
  .calendarSection{
    background-color: #fff;
    box-shadow: 0px 0px 0px 0px rgb(211, 211, 211);
  }
}
