@import "../utils/utils.scss";

.dayCell {
  @include sizes(40px, 40px);
  // font-size: 16px;
  display: block;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  flex: 0 0 40px;
  cursor: pointer;
}
.inactive {
  cursor: auto;
  color: $sub-text;
}
.selected {
  // border: 3px solid $hover-grey;
  outline: 3px solid $hover-grey;
  outline-offset: 2px;
}
.pink {
  background-color: $pink-day;
}
.green {
  background-color: $green-day;
}
.dayCell:hover {
  background-color: $hover-grey;
}
.inactive:hover {
  background-color: $light-grey;
}
