@import "../utils/utils.scss";

.wrapper {
  margin-top: 20px;
}

form {
  margin-top: 20px;
  position: relative;

  div {
    display: flex;
  }

  input[type="text"] {
    margin: 10px 0 10px 0;
    border: 2px solid $hover-grey;
    padding: 0 10px 0 10px;
    border-radius: 10px;
  }
  .title {
    @include sizes(200px, auto);
    min-height: 40px;
  }
  .description {
    @include sizes(300px, auto);
    min-height: 40px;
  }
  input[type="radio"] {
    appearance: none;
    margin: auto 0 18px 20px;
    @include sizes(24px, 24px);
    border: 12px solid #fff;
    border-radius: 50%;
    cursor: pointer;
  }
  input[type="radio"]:hover {
    transform: scale(1.1, 1.1);
  }
  input[type="radio"]:checked {
    border: 3px solid #fff;
    transform: scale(1.1, 1.1);
  }
  .green {
    background-color: $green-day;
    outline: 4px solid $green-day;
  }
  .pink {
    background-color: $pink-day;
    outline: 4px solid $pink-day;
  }
  button {
    position: absolute;
    @include sizes(60px, 30px);
    border: 2px solid $hover-grey;
    border-radius: 10px;
    right: 0;
    display: block;
    background-color: #fff;
    cursor: pointer;
  }
  button:hover {
    transform: scale(1.1, 1.1);
    background-color: $light-grey;
  }
}
