@import "../utils/utils.scss";

.wrapper {
  position: relative;
  h4 {
    margin: 0 0 8px 8px;
  }
  button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: $sub-text;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
  }
  button:hover {
    text-decoration: underline;
  }
  p {
    @include sizes(300px, auto);
    border-radius: 8px;
    padding: 8px 12px 8px 12px;
    margin-bottom: 8px;
  }
}
.green {
  background-color: $green-day-light;
}
.pink {
  background-color: $pink-day-light;
}
